body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-calc {
    float: left;
}

.calc-report {
    float: left;
}

table {
    border: 1px solid lightgray;
}

input[type="button"] {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: white;
    color: black;
    /* font-weight: bold; */
    font-size: 16px;
}

input[type="text"] {
    width: 152px;
    height: 46px;
    font-size: xx-large;
    background-color: lightgray;
    color: black;
    text-align: right;
}

.calc-report > textarea {
    background-color: lightblue;
    font-size: 15px;
    color: black;
    width: 150px;
    height: 258px;
}