.dropzone {
    width: 300px;
    height: 300px;
    outline: 1px solid gray;
    float: left;
    background-color: lightgray;
}

.dataitem {
    height: 40px;
    border-bottom: 1px solid white;
    width: 270px;
    text-align: center;
    padding: 5px 15px;
}

.itemslt {
    outline: 1px dashed blue;
    background-color: rgb(247, 216, 44);
}

.dropzoneslt {
    outline: 2px dashed green;
}